<footer>
  <hr>
  <h1>TeChat</h1>
  <br>
  <p style="text-align: center;" class="footerdesc">A chat platform made by students</p>
  <br>
  <h3 style="text-align: center;">© 2021 - Commander R</h3>
</footer>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    } 
</script>
