<div class="topnav" id="myTopnav">
  <img class="logo" src="img/icon.jpg" alt="logo" onclick="href='/'" />
  <a href="/" class="active">Home</a>
  <a href="/developer">Developers</a>
  <a href="/privacy">Privacy</a>
  <a style="float:right" class="active" href="/about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<hr><hr>