<!DOCTYPE html>
<html lang="en">
    <head>
	    <%- include('includes/head', { title: "404", desc: "This page couldn't be found." }) %>
    </head>
    <body>
        <div>
            <h1>404</h1>
            <br>
            <p>Heya you have found a page that does not work! <a href="/">click here</a> to get redirected to the main page again!</p>
        </div>
    </body>
    <style>
        div {
            padding: 30px;
            text-align: center;
            margin: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
</html>