<html lang="en">
<head>
	<%- include('includes/head', { title: "About", desc: "For more information about this project." }) %>
</head>
	<body>
    <%- include('includes/header') %>
    <br>
    <h2>About this project.</h2>
    <h4>TeChat is a nice place to find people to chat with</h4>
    <br>
    <hr>
    <br>
    <ul>
        <li style="color: white;">
            This project started on 
        </li>
    </ul>
  <br>
  <%- include('includes/footer') %>
  </body>
</html>