<html lang="en">
<head>
	<%- include('includes/head', { title: "Home", desc: "TeChat is a nice place to find people to chat with." }) %>
</head>
	<body>
    <%- include('includes/header') %>
    <div class="bg-image"></div>
    <div class="bg-text">
      <h2>TeChat</h2>
      <h4>TeChat is a nice place to find people to chat with</h4>
      <br>
      <button onclick="location.href='/login'">Open in browser</button>
    </div>
    <hr><hr>
    <br>
    <div id="news">
      <h1>News</h1>
      <hr>
      <h3>TeChat is live!</h3>
    </div>
    <%- include('includes/footer') %>
  </body>
  <style>
    .bg-image {
      background-image: url("img/banner.jpg");
      filter: blur(8px);
      -webkit-filter: blur(8px);
      height: 30%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg-text {
      background-color: #012f6e;
      background-color: rgba(0, 25, 71, 0.8);
      border: 1px solid #006eff;
      color: white;
      font-weight: bold;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 30%;
      padding: 20px;
      text-align: center;
    }
  </style>
</html>