<html lang="en">
<head>
	<%- include('includes/head', { title: "Developers", desc: "Find out more about the developers." }) %>
</head>
<body>
  <%- include('includes/header') %>
  <br>
  <img src="/img/commander.png" alt="Developer Icon" class="devicon">
  <h1>Commander R</h1>
  <br>
  <br>
  <p style="position: relative; text-align: center;">This is the main developer of <code style="color:aqua">TeChat</code>!</p>
</body>
<style>
  footer {
    position: relative;
  }
</style>
</html>