<html lang="en">
<head>
	<%- include('includes/head', { title: "Privacy", desc: "Read and learn about TeChat's privacy policy." }) %>
</head>
<body>
  <%- include('includes/header') %>
  <br>
  <h1>TeChat's Privacy Policy</h1>
  <hr>
  <br>
    <ul>
      <li>
        <p>This will be filled in later</p>
      </li>
    </ul>
  <br>
  <hr>
  <br>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;">That's the end of the Privacy Policy, but please remember to <a href="mailTo:dis.commander.r@gmail.com" target="_blank">contact the developers</a> if you have any kind of concerns with your data.</p>
  <br>
  <%- include('includes/footer') %>
</body>
</html>